<h1>Make a Sandwich</h1>
<partial name="_Bun" model="true" />
<partial name="_Tomato" />
<partial name="_Lettuce" />
@*<partial name="_Bun" />
*@
@*<partial name="_By" model="3" />*@
<partial name="_Chicken" />

<partial name="_Bun" model="false" />
