@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Drinks are us</h1>
<a href="/drink/rootbeer">RootBeer</a>
<a asp-controller="drink" asp-action="rootbeer" >Root Beer Too</a>
