@model IEnumerable<ThingType>

<ol>
    @if (ViewBag.Success) {
        @foreach (ThingType tt in Model) {
            <li data-id="@tt.ID" >@tt.Name | @tt.ID</li>
        }

    } else {
            <li>No data returned</li>
    }
</ol>
