@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Class</h1>
    <h2>You are awesome!</h2>
    <p>Because you are you!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="/drink/rootbeer">RootBeer</a>
<a asp-controller="drink" asp-action="rootbeer" >Root Beer Too</a>
<a asp-action="Types" >Thing Types</a>
<a asp-action="MakeMe" >Create Person</a>
