:root {
    --text-color: #030;
    --text-background: #EFE;
    --nav-background: #363;
    --nav-links: #FFF;
    --nav-links-hover: #ACB;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--text-background);
}

.navbar {
    background-color: var(--nav-background);
    color: var(--nav-links);
}

    .navbar a {
        color: var(--nav-links);
        border: 2px solid var(--nav-background);
        border-right: 0;
        border-left: 0;
    }

        .navbar a:hover {
            color: var(--nav-links-hover);
            border-top-color: var(--nav-links-hover);
            border-bottom-color: var(--nav-links-hover);
        }

#divLoginPanel {
    background-color: var(--nav-background);
}

#divTheme {
    background-color: var(--nav-background);
}

#divTheme select {
    background-color: var(--nav-links);
}

    
