:root {
    --text-color: #300;
    --text-background: #FEE;
    --nav-background: #633;
    --nav-links: #FFF;
    --nav-links-hover: #CAB;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--text-background);
}

.navbar{
    background-color: var(--nav-background);
    color: var(--nav-links);
}

    .navbar a {
        color: var(--nav-links);
    }

    .navbar a:hover {
        color: var(--nav-background);
        background-color: var(--nav-links-hover);
    }

#divLoginPanel {
    background-color: var(--nav-background);
}

#divTheme {
    background-color: var(--nav-background);
}