:root {
    --text-color: #333;
    --text-background: #EEE;
    --nav-background: #666;
    --nav-links: #FFF;
    --nav-links-hover: #AAA;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--text-background);
}

.navbar{
    background-color: var(--nav-background);
    color: var(--nav-links);
}

    .navbar a {
        color: var(--nav-links);
        border-bottom: 2px solid var(--nav-background);
    }

    .navbar a:hover {
        color: var(--nav-links-hover);
        border-bottom-color: var(--nav-links-hover);
    }

#divLoginPanel {
    background-color: var(--nav-background);
}

#divTheme {
    background-color: var(--nav-background);
}

table tr:hover {
    background-color: var(--nav-links-hover);
}