:root {
    --text-color: #003;
    --text-background: #EEF;
    --nav-background: #336;
    --nav-links: #FFF;
    --nav-links-hover: #ABC;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--text-background);
}

.navbar {
    background-color: var(--nav-background);
    color: var(--nav-links);
}

    .navbar a {
        color: var(--nav-links);
    }

        .navbar a:hover {
            color: var(--nav-links-hover);
            text-decoration: underline;
        }

#divLoginPanel {
    background-color: var(--nav-background);
}
